
    <div class="container">
        <div class="duas-div">
            <div class="div-cima">
                <p>Código Pedido: {{lista.codigo}}</p>
            </div>
            <div class="div-baixo">
                <div class="Cima">
                    <div class="d-inline-block text-truncate produtos" style="max-width: 60vw;">
                        <i style="font-size: 30px;" class="bi bi-box2-fill"></i>
                        <span class="bold" *ngFor="let produto of lista.listaProdutos">{{produto.nome}}</span>
                    </div>
                </div>
                <div class="baixo">
                    <div>
                        <div class="nome">
                            <i style="font-size: 30px;" class="bi bi-person"></i>
                            <span class="bold">{{lista.nomeProfessor}}</span>
                        </div>
                    </div>
                    <div class="datas">
                        <div class="dataRetirada">
                            <i style="font-size: 30px;" class="bi bi-calendar2-plus"></i>
                            <span class="bold">{{lista.dataReserva | date: 'dd/MM/yyyy'}}</span>
                        </div>
                        <div class="dataDevolucao">
                            <i style="font-size: 30px;" class="bi bi-calendar2-check"></i>
                            <span class="bold">{{lista.dataDevolucao | date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer">
                <div class="status">
                    <span>Status: {{lista.status}}</span>
                </div>
                <div  class="info" [routerLink]="['/home/conferencia']" style="cursor:pointer">
                    
                    <span>Mais Informações...</span>
                </div>
            </div>
        </div>
</div>
