body {
    background-color: rgba(0, 0, 0, 0.55);
}

.centro {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.548);
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.certo {
    height: 220px;
    width: 220px;
    border-radius: 1000px;
    background-color: #1F394F;
}

.icons {
    font-size: 30px;
    color: #1F394F;
}