<div [@teste]="state" class="border d-flex flex-column
 flex-shrink-0 p-3 bg-danger" style="height: 91vh;" (mouseenter)="changeStatus()" (mouseleave)="changeStatus()">

    <div class="center">
        <i class="bi bi-alarm-fill icons-size mb-3"></i>
        <span [@letras]="state" *ngIf="state == 'aberto'" class="margin-icons">
            Histórico
        </span>
    </div>

    <div class="center">
        <i class="bi bi-calculator-fill icons-size mb-3"></i>
        <span [@letras]="state" *ngIf="state == 'aberto'" class="margin-icons">
            Devolver
        </span>
    </div>

    <div class="center">
        <i class="bi bi-cart icons-size mb-3"></i>
        <span [@letras]="state" *ngIf="state == 'aberto'" class="margin-icons">
            Realizar entregas
        </span>
    </div>

</div>