<div class="d-flex">
  <div class="container">

    <nav aria-label="breadcrumb" style="position: absolute;
      top: 81px;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
      </ol>
    </nav>
    <div class="row mt-5" style="display: flex; justify-content: center;">
      <div class="row">
        <div class="col-md-2 col-sm-12" style="font-size: calc(1.3rem + .6vw);">
          <b>
            <span>PERFIL</span>
          </b>
          <hr style="margin: 0; width: 200px; opacity: 1;">
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
    <div class="bu">
      <div class="cargo">
        <!-- <span>{{nivelAcesso | uppercase}}</span> -->
        <span>{{nivelAcesso}}</span>
      </div>
      <div class="esquerda">
        <div class="imagem" style="margin-bottom: 3vw;">
          <i style="font-size: 10vw;" class="bi bi-person"></i>
        </div>
        <div class="botao">
          <button (click)="alteraPerfil()">Alterar Perfil</button>
          <button (click)="modificaAlteraSenha()">Redefinir Senha</button>
        </div>
      </div>
      <div class="direita">
        <div class="inputsPerfil d-flex flex-column" style="width: 300px">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="nome" [disabled]="disabled"  type="tel" placeholder="(**) *****-****" matInput 
            value="Sushi">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input [(ngModel)]="usuario" [disabled]="disabled" matInput placeholder="Ex. Pizza"
            value="Sushi">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" [disabled]="disabled" matInput placeholder="Ex. Pizza"
            value="Sushi">
          </mat-form-field>
          
          <div style="margin-top: 2vh;">
            <button (click)="mandarAlteracaoUsuarioDB()" *ngIf="!disabled" class="btn btn-primary">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<app-modal-senha [senha]="senha" (alterandoModal)="modificaAlteraSenha()" *ngIf="alteraSenha"></app-modal-senha>
