
<div class="d-flex bg-light">
  
  <body>
    <div>
        <div class="perfil">Perfil________</div>
    <div>
      <div class="container">
        <div class="cargo">
          Professor
        </div>
        <div class="esquerda">
          <div class="imagem">
            <i style="font-size: 150px;" class="bi bi-person"></i>
          </div>
          <div class="span">
            <span class="nome">Fulano de Tal</span>
          </div>
          <div class="botao">
            <button>Alterar Perfil</button>
            <button>Redefinir Senha</button>
          </div>
        </div>
        <div class="direita">
          <div class="inputsPerfil">
            <span>Usuario:</span>
            <input class="control" type="text" placeholder="FulanoDeTal">
            <span>Email:</span>
            <input class="control" type="email" placeholder="fulano@gmail.com">
            <span>Data de Nascimento:</span>
            <input class="control" placeholder="DD/MM/AAAA" type="date">
            <span>Telefone:</span>
            <input class="control" type="tel" placeholder="(**) *****-****">
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>

</div>