i{
    border-radius: 50%;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    font-size: calc(1.3rem + .6vw);
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    column-gap: 100px;
    border: 1px solid black;
    padding: 30px;
    width: 100%;
    position: relative;
}

.esquerda{
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
}

.direita{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    display: grid;
    justify-content: center;
    align-items: center;
}

body{
    display: grid;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}


button{
    background-color: #275577;
    border: transparent;
    color: white; 
    margin: 10px;
    height: 5vh;
    width: 20vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.control{
    display: block;
    width: 25vw;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 15px;
}

.cargo{
 position: absolute;
 top: 0;
 right: 0;
 color: black;
}

.prof{
position: absolute;
 top: 0;
 right: 0;
 background-color: #275577 ;
 color: white;
 font-size: 24px;
 padding-top: 5px ;
 padding-bottom: 5px;
 padding-left: 7vw;
 padding-right: 7vw;
 justify-content: center;
}
