i{
    border-radius: 50%;
    border: 2px solid black;
    width: 13vw;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil{
    font-size: calc(1.3rem + .6vw);
    margin-top: 50px;
    margin-bottom: 50px;
}

.bu{
    display: flex;
    padding: 30px;
    width: 80%;
    position: relative;
    margin: 5vh 0vh 0vh 0vh;
    justify-content: space-around;
}

.esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.direita{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao{
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn-conf{
    background-color: #275577;
    border: transparent;
    color: white; 
    height: 5vh;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button{
    background-color: #275577;
    font-size: 1rem !important;
    border: transparent;
    color: white; 
    margin: 10px;
    height: 5vh;
    width: 20vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome{
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

.control{
    display: block;
    width: 25vw;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 15px;
}

.cargo{
 position: absolute;
 top: 0;
 right: 0;
 color: white;
 background: #275577;
 padding: 7px 41px;
 box-shadow: -1px 3px 15px -2px grey;
}

.prof{
position: absolute;
 top: 0;
 right: 0;
 background-color: #275577 ;
 color: white;
 font-size: 24px;
 padding-top: 5px ;
 padding-bottom: 5px;
 padding-left: 7vw;
 padding-right: 7vw;
 justify-content: center;
}
