.pg{
    font-size: calc(1.3rem + .6vw);
    margin-top: 50px;
    margin-bottom: 50px;
}
.produtos{
    overflow: auto;
    max-height: 76vh;
}
.bloco-produto{
    border-left: 10px solid #1f394f;
    box-shadow: 4px 5px 7px -5px;
    background-color: #f1f1f1;
}
.quadrado{
    background: #275577;
    padding: 20px;
    color:white;
}
.pesquisa{
    border-bottom: 0.5px solid black;
    max-width: 225px;
}
.form-control{
    border: 1px solid black;
}
input{
    border: transparent;
    outline: none;
}
.div-imagem{
    text-align: center;
}
.imagem{
    width: 200px;
    height: 200px;
    border-radius: 500px;
}