<div class="d-flex">
    <div class="container">
        <nav aria-label="breadcrumb" style="position: absolute;
        top: 81px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Entradas</li>
            </ol>
        </nav>
        <div class="row mt-5" style="display: flex; justify-content: center;">
            <div class="row">
                <div class="col-md-2 col-sm-12" style="font-size: calc(1.3rem + .6vw);">
                    <b>
                        <span *ngIf="selectTipoTela == 'Entrada'">ENTRADAS </span>
                        <span *ngIf="selectTipoTela == 'Quebra'">QUEBRAS </span>
                    </b>
                    <hr style="margin: 0; width: 200px; opacity: 1;">
                </div>

                <div class="d-flex mt-4  align-items-center">
                    <div class="pesquisa d-flex">
                        <i class="bi bi-search icon" style="cursor:pointer"></i>
                        <input [(ngModel)]="pesquisaProduto" (ngModelChange)="changed()"
                            placeholder="Pesquisar Produto">
                        <div style="cursor:pointer" class="filtrar">
                            <i class="bi bi-sliders"></i>
                        </div>
                    </div>
                    <mat-form-field class="ms-3" appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <mat-select [(ngModel)]="selectTipoTela">
                            <mat-option value="Entrada">
                                Entrada
                            </mat-option>

                            <mat-option value="Quebra">
                                Quebra
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row" style="justify-content: space-around;">
                    <div class="col-6">
                        <div class="row mt-3 produtos">
                            <app-produto-lista (produtoSelecionado)="mostrarProduto($event)" style="cursor:pointer"
                                [tiraQuantidade]="tiraQuantidade" [listaProdutos]="lista">
                            </app-produto-lista>
                        </div>
                        <mat-paginator [length]="lengthProdutos" [pageIndex]="0"
                            [pageSizeOptions]="[18, 24, 30, 48, 90]" (page)="atualizarProdutos()"
                            aria-label="Select page" #paginator>
                        </mat-paginator>
                    </div>
                    <div *ngIf="codigo == 0" class="col-6 p-4 align-items-center position-relative">
                        <div class="quadrado">
                            <h4>Clique em um produto para dar entrada!</h4>
                        </div>
                    </div>

                    <div *ngIf="codigo != 0" class="col-5 mb-4 p-4 align-items-center position-relative bloco-produto">
                        <i [routerLink]="['/home/editar-produto/',codigo]" class="bi bi-pen"
                            style="position:absolute; right: 9%;"></i>
                        <div class="div-imagem">
                            <img class="img-fluid imagem" [src]="imagem" alt="">
                        </div>
                        <div>
                            <mat-form-field class="mt-5 example-full-width" appearance="fill" style="width: 100%;">
                                <mat-label>Nome Produto</mat-label>
                                <input disabled="true" type="text" [(ngModel)]="estoqueQuantidade" disabled="true"
                                    matInput placeholder="Ex. Material Elétrico" value="Sushi">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                                <mat-label>Quantidade em estoque</mat-label>
                                <input type="text" [(ngModel)]="estoqueQuantidade" disabled="true" matInput
                                    placeholder="Ex. Material Elétrico" value="Sushi">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="example-full-width" appearance="fill" style="width:100%;">
                                <mat-label *ngIf="selectTipoTela == 'Entrada'">Quantidade a adicionar</mat-label>
                                <mat-label *ngIf="selectTipoTela == 'Quebra'">Quantidade Afetada</mat-label>
                                <input type="text" [(ngModel)]="novaQuantidade" matInput
                                    placeholder="Ex. Material Elétrico" value="Sushi">
                            </mat-form-field>
                        </div>
                        <div *ngIf="selectTipoTela == 'Quebra'">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Descrição da quebra</mat-label>
                                <textarea [(ngModel)]="descricao" matInput
                                  placeholder="Ex. Este produto foi quebrado porque caiu no chão..."></textarea>
                              </mat-form-field>
                        </div>
                        <div class="text-center mt-4">
                            <button (click)="atualizarQuantidade()" class="btn btn-primary">Confirmar entrada</button>
                        </div>
                    </div>
                </div>
            </div>