<div class="d-flex">
    <div class="container">
        <nav aria-label="breadcrumb" style="position: absolute;
        top: 81px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Entradas</li>
            </ol>
        </nav>
        <div class="row mt-5" style="display: flex; justify-content: center;">
            <div class="row">
                <div class="col-md-2 col-sm-12" style="font-size: calc(1.3rem + .6vw);">
                    <b>
                        <span>ENTRADAS</span>
                    </b>
                    <hr style="margin: 0; width: 200px; opacity: 1;">
                </div>

                <div class="d-flex mt-4">
                    <div class="pesquisa d-flex">
                        <i class="bi bi-search icon" style="cursor:pointer"></i>
                        <input [(ngModel)]="pesquisaProduto" placeholder="Pesquisar Produto">
                        <div style="cursor:pointer" class="filtrar">
                            <i class="bi bi-sliders"></i>
                        </div>
                    </div>
                    <select class="ms-2 ordenar botoes" style="cursor:pointer; min-width:150px">
                        <option value="5">Ordenar</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="row" style="justify-content: space-around;">
                    <div class="col-6">
                        <div class="row mt-3 produtos">
                            <app-produto-lista (produtoSelecionado)="mostrarProduto($event)" style="cursor:pointer"
                                [tiraQuantidade]="tiraQuantidade" [listaProdutos]="lista">
                            </app-produto-lista>
                        </div>
                    </div>
                    <div *ngIf="codigo == 0" class="col-6 p-4 align-items-center position-relative">
                        <div class="quadrado">
                            <h4>Clique em um produto para dar entrada!</h4>
                        </div>
                    </div>

                    <div *ngIf="codigo != 0" class="col-5 mb-4 p-4 align-items-center position-relative bloco-produto">
                        <i [routerLink]="['/home/editar-produto/',codigo]" class="bi bi-pen" style="position:absolute; right: 9%;"></i>
                        <div class="div-imagem">
                            <img class="img-fluid imagem" [src]="imagem" alt="">
                        </div>
                        <div>
                            <label for="">Nome Produto</label>
                            <input [(ngModel)]="nomeProduto" disabled="true" type="text" class="form-control">
                        </div>
                        <div>
                            <label for="">Quantidade em estoque</label>
                            <input [(ngModel)]="estoqueQuantidade" disabled="true" type="text" class="form-control">
                        </div>
                        <hr>
                        <div>
                            <label for="">Adicionar quantidade</label>
                            <input [(ngModel)]="novaQuantidade" type="text" class="form-control">
                        </div>
                        <div class="text-center mt-4">
                            <button (click)="atualizarQuantidade()" class="btn btn-primary">Confirmar entrada</button>
                        </div>
                    </div>
                </div>
            </div>
