<div class="quadrado">
    <div class="cargo">
        <i (click)="clicouModal()" class="bi bi-x-circle" style="font-size: 20px; color: white;"></i>
    </div>

    <div class="inputs">
        <h3 class="text-light"><i style="width: 450px;" class="bi bi-funnel-fill"></i>Filtrar Por:</h3>
        <div>
            <label class=" text-light">Disponibilidade em estoque</label>
            <div class="d-flex range-div">
                <input [(ngModel)]="value" type="text">
                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                <input [(ngModel)]="highValue" type="text">
            </div>
        </div>

        <form (ngSubmit)="onSubmit(f)" #f="ngForm" action="">


            <div class="dois">
                <div class="dataDevolucao">
                    <label>Selecionar classificação</label>
                    <select name="classificacao" ngModel class="igInput"></select>
                </div>
                <div class="status">
                    <label>Selecionar opção de uso</label>
                    <select name="opcaoUso" ngModel class="igInput"></select>
                </div>
            </div>
        </form>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="botaoFiltro">Filtrar</button>
        </div>
    </div>
</div>
<div class="overlay"></div>



<!-- <div class="fundo bg-dark opacity-75 position-relative">
</div>
<div class="quadrado-modal container">
    <i (click)="clicouModal()"
     style="position: absolute; right: 7%;" class="bi bi-x-lg"></i>
    <h4 class="titulo d-flex align-center justify-content-center">
        Filtro de Pesquisa
    </h4>
    <hr>
    <div class="inputs ">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" action="">
        <div class="input-group">
            <div style="padding-right: 7%;" class="col-12">
                <label for="font label" class="fonte">Nome do produto</label>
                <input  name="nome" ngModel  type="text" class=" form-control">
            </div>
        </div>
        <div class="input-group row">
            <div class="col-6">                
                <label for="font label"  class="fonte">Código do produto</label>
                <input  name="codigo" ngModel type="text" class="form-control">
            </div>
            <div class="col-6">                
                <label for="font label" class="fonte">Disponibilidade em estoque</label>
                <input name="estoque" ngModel  type="text" class="form-control">
            </div>
        </div>
        <div class="input-group row">
            <div class="col-6">           
                <label for="font label" class="fonte">Selecionar classificação</label>
                <select name="classificacao" ngModel class="form-select" id="">

                </select>
            </div>
            <div class="col-6">       
                <label for="font label" class="fonte">Selecionar opção de uso</label>
                <select ngModel name="opcaoUso" class="form-control" id="uso">
                    <option value="Descartável">Descartável</option>
                    <option value="Não Descartável">Não Descartável</option>
                </select>
            </div>
        </div>
    </form>
    </div>
    <div class="row">
        <button (click)="filtrar(f)" class="col-6 offset-6 btn btn-primary mt-5">filtrar</button>
    </div>
</div> -->