<div class="quadrado">
    <div class="cargo">
        <i (click)="clicouModal()" class="bi bi-x-circle" style="font-size: 20px; color: white;"></i>
    </div>

    <div class="inputs">
        <h3 class="text-light"><i style="width: 450px;" class="bi bi-funnel-fill"></i>Filtrar Por:</h3>
        <div>
            <label class=" text-light">Disponibilidade em estoque</label>
            <div class="d-flex range-div">
                <input [(ngModel)]="value" type="text">
                <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                <input [(ngModel)]="highValue" type="text">
            </div>
        </div>

        <form (ngSubmit)="onSubmit(f)" #f="ngForm" action="">


            <div class="dois">
                <div class="dataDevolucao">
                    <label>Selecionar classificação</label>
                    <select name="classificacao" ngModel class="igInput"></select>
                </div>
                <div class="status">
                    <label>Selecionar opção de uso</label>
                    <select name="opcaoUso" ngModel class="igInput"></select>
                </div>
            </div>
        </form>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="botaoFiltro">Filtrar</button>
        </div>
    </div>
</div>
<div class="overlay"></div>