<body style="height: 100vh; width: 100vw;">
    <div style="height: 100vh;">
        <div class="centralizar" style="height: 100vh;">
            <div class="centro">
                <div style="display: flex; justify-content: end; margin-right: 10px;">
                   <i (click)="FecharModal()" class="bi bi-x-circle icons"></i>
                </div>
                <img class="logo" src="../../../assets/loginho.png" style="height: 50px;">
                <div class="centralizar" style="margin-top: 35px;">
                    <div class="textAl">
                        Almoxarife System
                    </div>
                </div>
                <div style="margin-top: 30px;">
                    <div class="centralizar" style="margin-bottom: 25px;">
                        <h6>Sua senha está pronta para ser alterada!</h6>
                    </div>
                    <div class="centralizar">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <i class="bi bi-key icons" style="margin-left: 10px;"></i>
                            </div>
                            <input class="inputs" placeholder="Nova Senha" type="password">
                        </div>

                    </div>

                    <div class="centralizar" style="margin-top: 40px;">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <div style="margin-left: 10px;">
                                    <i class="bi bi-key-fill icons"></i>
                                </div>
                            </div>
                            <input class="inputs" placeholder="Confirmar Senha" type="password">
                        </div>
                    </div>
                    <div class="centralizar" style="margin-top: 50px;">
                        <button routerLink="/" class="botao" style="background-color: #1f394f; color: white;">Enviar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>