<div class="centralizar">
    <div class="centro">
        <div class="topo centralizar" style="display: flex; justify-content: space-between;">
            <h5 style="margin-top: 5px; margin-left: 8px;">{{pedido.usuario}}</h5>
            <h2 style="margin-right: 1.5vw; cursor: pointer;" (click)="closeModal()">x</h2>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: space-between;">
            <div class="centralizar">
                <i class="bi bi-calendar-plus" style="font-size: 30px; margin-left: 1vw;"></i>
                <span style="margin-left: 1vw; font-size: 12px;">{{pedido.dataEntrega}}</span>
            </div>
            <div class="centralizar" style="margin-left: 30px;">
                <i class="bi bi-calendar-check" style="font-size: 30px; "></i>
                <span style="margin-left: 1vw; font-size: 12px; margin-right: 1vw;">{{pedido.dataDevolucao}}</span>
            </div>
        </div>

        <div style="margin-top: 10px; overflow: scroll; overflow-x: hidden; height: 44.3vh;">
            <table class="table table-hover table-responsive" style=" border-top: 2px solid black;">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Estoque</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of pedido.listaProdutos; let i = index">
                        <th scope="row">{{produto.codigo}}</th>
                        <td>{{produto.nome}}</td>
                        <td>{{produto.quantidadeReservada}}</td>
                        <td>{{produto.quantidadeTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>