body {
    background-color: #cacaca;
    box-shadow: inset 4px 4px 250px 10px #000;
}

.centro {
    width: 34.7vw;
    background-color: white;
    border-radius: 5px;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    font-size: 30px;
}

.topo {
    background-color: #275577;
    width: 34.7vw;
    height: 6.3vh;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.linha-tabela{
    box-shadow: 4px 5px 7px -5px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}