
<div class="quadrado">
    <div class="row">
        <div class="cool">
            <div class="centralizar">
                <i class="bi bi-person-circle"></i>
                <label for="" style="font-weight: bold; font-size: 20px;">Carlinhos Rech</label>
<div class="fundo bloco">
    <div class="quadrado">
        <div class="row">
            <div class="col-6">
                <div>
                    <img src="" alt="">
                    <label for=""></label>
                </div>
                
                <div>
                    <label for=""></label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label for=""></label>
                    <input type="text" class="form-control">
                </div>

            </div>

            <div class="prin">
                <label for=""> Usuário</label>
                <input type="text" class="inputs">
            </div>
            <div class="prin"> 
                <label for="">Email</label>
                <input type="text" class="inputs">
            </div>
        </div>
        <div class="cool" style="padding-top: 60px;">
            <div class="prin">
                <label for="">Data de Nascimento</label>
                <input type="text" class="inputs">
            </div>
            <div class="prin">
                <label for="">Telefone</label>
                <input type="text" class="inputs">
            </div>
            <div class="prin">
                <label for="">Alterar nível de acesso</label>
                <select name="" id=""></select>
            </div>
        </div>
    </div>
    <div class="botoes d-flex" style="justify-content: center;">
        <div>

            <button class="remover">Remover Usuário</button>
        </div>
        <div>

            <button class="historico">Ver Histórico</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<div class="overlay"></div>