<div class="quadrado">
    <div class="prof">
        Professor
    </div>

    <div class="cargo">
        <i (click)="estadoPerfil.emit()" class="bi bi-x-circle" style="cursor:pointer; font-size: 20px;"></i>
    </div>
    <div class="row">
        <div class="cool" style="padding-top: 15px;">
            <div class="centralizar">
                <i class="bi bi-person-circle"></i>
                <label for="" style="font-weight: bold; font-size: 20px;">Carlinhos Rech</label>
            </div>
            <div class="prin">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Usuário</mat-label>
                    <input type="text" [(ngModel)]="usuario" matInput placeholder="Ex. Material Elétrico" value="Sushi">
                </mat-form-field>
            </div>
            <div class="prin">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="text" [(ngModel)]="email" matInput placeholder="Ex. Material Elétrico" value="Sushi">
                </mat-form-field>
            </div>
        </div>
        <div class="cool" style="padding-top: 60px;">
            <div class="prin">
                <mat-form-field appearance="fill">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [(ngModel)]="data" [matDatepicker]=" picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>


            </div>
            <div class="prin">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Telefone</mat-label>
                    <input type="text" [(ngModel)]="telefone" matInput placeholder="Ex. Material Elétrico"
                        value="Sushi">
                </mat-form-field>
            </div>
            <div class="prin">
                <mat-form-field appearance="fill">
                    <mat-label>Alterar nível de acesso</mat-label>
                    <mat-select [(ngModel)]="nivelacesso" id="uso">
                        <mat-option value="0">
                            Professor
                        </mat-option>
                        <mat-option value="1">
                            Atendente
                        </mat-option>
                        <mat-option value="2">
                            Superfisor
                        </mat-option>
                        <mat-option value="3">
                            Admin
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="botoes d-flex" style="justify-content: center;">
        <div class="divRemove">
            <button class="remover">Remover Usuário</button>
        </div>
        <div class="divHistorico">
            <i class="bi bi-clock-history" style="font-size: 20px;"></i>
            <button class="historico">Ver Histórico</button>
        </div>
    </div>
</div>

<div class="overlay"></div>