<div class="quadrado">
    <div class="prof">
        Professor
    </div>

    <div class="cargo">
        <i (click)="estadoPerfil.emit()" class="bi bi-x-circle" style="cursor:pointer; font-size: 20px;"></i>
    </div>
    <div class="row">
        <div class="cool" style="padding-top: 15px;">
            <div class="centralizar">
                <i class="bi bi-person-circle"></i>
                <label for="" style="font-weight: bold; font-size: 20px;">Carlinhos Rech</label>
            </div>
            <div class="prin">
                <label for=""> Usuário</label>
                <input type="text" class="inputs">
            </div>
            <div class="prin">
                <label for="">Email</label>
                <input type="text" class="inputs">
            </div>
        </div>
        <div class="cool" style="padding-top: 60px;">
            <div class="prin">
                <label for="">Data de Nascimento</label>
                <input type="text" class="inputs">
            </div>
            <div class="prin">
                <label for="">Telefone</label>
                <input type="text" class="inputs">
            </div>
            <div class="prin">
                <label for="">Alterar nível de acesso</label>
                <select name="" id=""></select>
            </div>
        </div>
    </div>
    <div class="botoes d-flex" style="justify-content: center;">
        <div class="divRemove">
            <button class="remover">Remover Usuário</button>
        </div>
        <div class="divHistorico">
            <i class="bi bi-clock-history" style="font-size: 20px;"></i>
            <button class="historico">Ver Histórico</button>
        </div>
    </div>
</div>

<div class="overlay"></div>