.linha-tabela{
    box-shadow: 4px 5px 7px -5px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}
th{
    padding-right: 20px;
}
tr{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.bloco-azul{
    width: 5px; 
    height:127%; 
    background-color:#275577; 
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 0;
}
button{
    padding: 3px 10px;
    margin: 4px;
}
table{
    display: flex;
    flex-direction: column;
}