
<table style="border-collapse:separate">
    <tr>
        <th>Código</th>
        <th>Professor</th>
        <th>Produtos</th>
        <th>Ação</th>

    </tr>
  
    <tr class="linha-tabela" *ngFor="let pedido of pedidos">
        
        <td style="position:relative;
         padding-left: 20px;">{{pedido.codigo}}<div class="bloco-azul"></div></td>
        <td>{{pedido.nomeProfessor}}</td>
        <td class="text-truncate" style="max-width:249px;"><span *ngFor="let produto of pedido.listaProdutos">{{produto.nome}}, </span></td>
        <td><button class="btn btn-primary">Entregar</button></td>
    </tr>
</table>
