
 <table matSort (matSortChange)="sortData($event)" class="table table-hover table-responsive">
    <thead class="">
        <tr>
            <th scope="col" mat-sort-header="codigo">#</th>
            <th scope="col" mat-sort-header="professor">Professor</th>
            <th scope="col" mat-sort-header="produtos">Produtos</th>
            <th scope="col" mat-sort-header="Acao">Ação</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos; let i = index">
            <th scope="row">{{pedido.codigo}}</th>
            <td>{{pedido.usuario?.nome}}</td>
            <td class="text-truncate" style="max-width:249px;"><span *ngFor="let l of pedido.produtos">{{l.nome}}, </span></td>
            <td><button class="btn-primary rounded">{{botao}}</button></td>
          </tr>
    </tbody>
  </table>
