
 <table class="table table-hover table-responsive">
    <thead class="">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Professor</th>
            <th scope="col">Produtos</th>
            <th scope="col">Ação</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos; let i = index">
            <th scope="row">{{pedido.codigo}}</th>
            <td>{{pedido.usuario?.nome}}</td>
            <td class="text-truncate" style="max-width:249px;"><span *ngFor="let l of pedido.listaProdutos">{{l.nome}}, </span></td>
            <td><button class="btn-primary rounded">{{botao}}</button></td>
          </tr>
    </tbody>
  </table>
