<app-nav></app-nav>

<div class="d-flex bg-light">
    <app-side-bar class="position-fixed"></app-side-bar>

    <body>
        <div class="topo">
            <div class="pg">
                <span>Realizar Entregas_______</span>
            </div>
        </div>

        <div class="pesquisa-total">
            <div class="pesquisa">
                <i class="bi bi-search"></i>
                <input placeholder="Pesquisar por solicitante">
            </div>
        </div>

        <div class="container">
            <div class="indice">
                <div class="pedido">
                    <span>Pedidos</span>
                </div>
                <div class="professor">
                    <span>Professor</span>
                </div>
                <div class="produtos">
                    <span>Produtos</span>
                </div>
                <div class="data">
                    <span>Data</span>
                </div>
            </div>
            <div class="lista">
                <div class="pedido">
                    <span>001</span>
                </div>
                <div class="professor">
                    <span>Carlinhos</span>
                </div>
                <div class="d-inline-block text-truncate produtos">
                    <span>Resistor 1k Ohms, Resistor 10k Ohms, Resistor 10k Ohms, Resistor 10k
                        Ohms, Resistor 10k
                        Ohms...</span>
                </div>
                <div class="data">
                    <span>DD/MM/AAAA</span>
                </div>
                <div class="botao">
                    <button>Realizar Entrega</button>
                </div>
            </div>

        </div>
    </body>