body {
    background-color: rgba(0, 0, 0, 0.548);
}

.centro {
    height: 430px;
    width: 450px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.55);
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAl {
    color: #1f394f;
    font-size: 30px;
}

.logo {
    position: absolute;
    margin: 7px 10px 10px 65px;
}

.ladoInput {
    box-shadow: 3px 1px 7px 1px rgba(0, 0, 0, 0.329);
    border-radius: 5px 0px 0px 5px;

}

.inputs {
    box-shadow: 6px 1px 7px 1px rgba(0, 0, 0, 0.329);
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 280px;
    height: 50px;
}

.icons {
    font-size: 30px;
    color: #1f394f;
}

input {
    outline: none;
}

.botao {
    width: 170px;
    height: 40px;
    border-radius: 2px;
    border-color: transparent;
}