<app-nav></app-nav>

<div class="d-flex bg-light">
  <app-side-bar class="position-fixed"></app-side-bar>
  
  <body>
    <div class="topo">
        <div class="pg">
            <span>Pedidos_______</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="duas-div col-5">
                <div class="div-cima">
                    <div>
                        <p>Código Pedido: ###</p>
                    </div>
                    <div>
                        <div class="info">
                            <i style="font-size: 20px;" class="bi bi-info-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="div-baixo">
                    <div class="Cima">
                        <div class="d-inline-block text-truncate" style="max-width: 30vw;">
                            <i style="font-size: 30px;" class="bi bi-box2-fill"></i>
                            <span class="bold">Resistor 1k Ohms, Resistor 10k Ohms</span>
                        </div>
                    </div>
                    <div class="baixo">
                        <div class="datas">
                            <div class="dataRetirada">
                                <i style="font-size: 30px;" class="bi bi-calendar2-plus"></i>
                                <span class="bold">DD/MM/AAAA</span>
                            </div>
                            <div class="dataDevolucao">
                                <i style="font-size: 30px;" class="bi bi-calendar2-check"></i>
                                <span class="bold">DD/MM/AAAA</span>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="footer">
                    <div class="status">
                        <span>Status: Finalizado</span>
                    </div>
                    <div class="cancelar">
                        <button>Cancelar Pedido</button>
                    </div>
                </div>
            </div>
            
        </div>
</div>

  </body>
</div>
