<div class="d-flex">
    <div class="container">
        <nav aria-label="breadcrumb" style="position: absolute;
        top: 81px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
            </ol>
        </nav>
        <div class="row mt-5" style="display: flex; justify-content: center;">
            <div class="row">
                <div class="col-md-2 col-sm-12" style="font-size: calc(1.3rem + .6vw); margin-bottom: 30px;">
                    <b>
                        <span>PEDIDOS</span>
                    </b>
                    <hr style="margin: 0; width: 200px; opacity: 1;">
                </div>
                <div class="container bu" style="position: relative; padding-top: 5px;">
                    <app-pedidos-table-professor (modal)="changeModal($event)" [lista]="lista"></app-pedidos-table-professor>                    
                </div>
            </div>
        </div>
        <app-modal-pedidos [pedido]="pedidoModal" *ngIf="exibicaoModal" style="position:fixed; top:0; left:0"></app-modal-pedidos>
    </div>
    <!-- (fecharModal)="changeModal()" -->