<div class="modal-senha">
    <div class="centralizar">
        <div class="redef">
            Redefinir Senha
        </div>
    </div>
    <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 1.5vh;">
        <mat-label>Senha Atual:</mat-label>
        <input type="tel" placeholder="*****-****" matInput >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nova senha:</mat-label>
        <input type="tel" placeholder="*****-****" matInput >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Repita sua nova senha:</mat-label>
        <input type="tel" placeholder="*****-****" matInput >
      </mat-form-field>
    <div class="botoes"> 
        <button (click)="fecharModal()  " class="botao1">Cancelar</button>
        <button (click)="mudarSenha()" class="botao2">Confirmar</button>
    </div>
</div>
<div class="overlay"></div>