<table matSort (matSortChange)="sortData($event)" class="table table-hover table-responsive">
    <thead class="">
        <tr>
            <th scope="col" mat-sort-header="codigo">#</th>
            <th scope="col" mat-sort-header="professor">Professor</th>
            <th scope="col" mat-sort-header="produtos">Produtos</th>
            <th scope="col" mat-sort-header="data">Data</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lista of lista; let i = index">
            <th scope="row">{{lista.codigo}}</th>
            <td>{{lista.usuario?.nome}}</td>
            <td class="text-truncate" style="max-width: 249px;"><span *ngFor="let l of lista.produtos | slice: 0:10">{{l.nome}}, </span></td>
            <td *ngIf="modo == 'devolucoes'">{{lista.dataDevolucao | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="modo == 'entregas'">{{lista.dataEntrega | date: 'dd/MM/yyyy'}}</td>
            <td><button [routerLink]="[url, lista.codigo]" class="btn-primary" style="border-radius: 5px;">{{textoBotao}}</button></td>
          </tr>
    </tbody>
  </table>
