<nav class="navbar blue" style="height: 9vh;z-index: 12;">
    <div class="container-fluid">
      <div style="height: 100%;" class="position-relative">
        <img class="imagem-logo" style="width:40px" src="../../../assets/LogoBranca-removebg-preview (1).png" alt="" srcset="">
        <span class="span-logo navbar-brand mb-0 h1 text-light">Almoxarife System</span>
      </div>
      <img style="margin-right: 50px; width: 136px;" src="https://www.senairs.org.br/sites/default/files/styles/scale_sm/public/logos/logos_senai_branco.png?itok=25HaNKVc" alt="" srcset="">
    </div>
  </nav>