<div class="container">
    <div class="pg" style="font-size: calc(1.3rem + .6vw);">
        <span>{{botao}}</span>
        <hr style="margin: 0; width: 25%;">    
    </div>
    <div class="quadrado container">
        <form [formGroup]="detalhesForm" action="">
            <div class="row">
                <div class="col-6">
                    <div class="div-imagem">
                        <img class="img-fluid imagem"
                            src="https://cdn.domtotal.com/img/noticias/2018-05/1263018_361876.jpg" alt="">
                    </div>
                    <div class="row">
                        <div class="mt-2 padding-input">
                            <label for="">Opcao de uso</label>
                            <select class="form-control" formControlName="opcaoUso" id="uso">
                                <option value="Descartável">Descartável</option>
                                <option value="Não Descartável">Não Descartável</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Nome do produto</label>
                        <input [disabled]="disabled"  class="form-control" type="text" formControlName="nome">
                    </div>
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Quantide em estoque</label>
                        <input class="form-control" type="text" formControlName="quantidade">
                    </div>
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Classificação</label>
                        <input class="form-control" type="text" formControlName="classificacao">
                    </div>
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Localidade</label>
                        <input class="form-control" type="text" formControlName="localidade">
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="padding-select">
                    <label for="exampleFormControlTextarea1" class="">Descrição</label>
                    <textarea class="form-control"
                        id="exampleFormControlTextarea1" formControlName="descricao" rows="3"></textarea>
                </div>
            </div>
            <div *ngIf="botao != 'Detalhes-produto'" class="m-5" style="display: flex; justify-content: end;">
                <button (click)="onSubmit()" class="btn btn-primary">{{botao}}</button>
            </div>
        </form>
    </div>
</div>