<div class="container">
    <div class="d-flex" style="justify-content: space-between;">
        <div class="pg" style="min-width: 240px;font-size: calc(1.3rem + .6vw);">
            <b (click)="teste()">
                <span>{{botao | uppercase}}</span>
            </b>
            <hr style="margin: 0; width: 200px; opacity: 1;">
        </div>
        <div *ngIf="user == 'supervisor'" style="width: 63%;
        justify-content: flex-end;
        display: flex;
        align-items: end;">
            <button *ngIf="(modo != 'cadastrar' && user == 'supervisor')" (click)="darEntrada()"
                class="btn btn-primary">
                Dar Entrada +
            </button>
        </div>

    </div>
    <div class="quadrado container ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="div-imagem">

                        <label class="input-file" for="inputTag">
                            <img *ngIf="imagem" class="imagem" [src]="imagem" alt="">
                            <i *ngIf="!imagem"  class="bi bi-plus-lg" style="font-size: 40px; color:#000"></i>
                            <input [disabled]="disabled" id="inputTag" (change)="upload($event)" type="file" />
                        </label>
                    </div>
                    <div class="row">
                        <div class="mt-2 padding-input">
                            <label for="">Opcao de uso</label>
                            <select [disabled]="disabled" class="form-control" [(ngModel)]="opcaoUso" id="uso">
                                <option value="Descartável">Descartável</option>
                                <option value="Não Descartável">Não Descartável</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Nome do produto</label>
                        <input [disabled]="disabled" class="form-control" type="text" [(ngModel)]="nome">
                    </div>
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Quantide em estoque</label>
                        <input [disabled]="disabledQuantidade" class="form-control" type="text" [(ngModel)]="quantidade">
                        <!--   -->
                    </div>
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Classificação</label>
                        <input [disabled]="disabled" class="form-control" type="text" [(ngModel)]="classificacao">
                    </div>
                    <div class="row input-group mb-3 padding-input">
                        <label for="">Localidade</label>
                        <input [disabled]="disabled" class="form-control" type="text" [(ngModel)]="localidade">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="padding-select">
                    <label for="exampleFormControlTextarea1" class="">Descrição</label>
                    <textarea [disabled]="disabled" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="descricao"
                        rows="3"></textarea>
                </div>

            </div>
        <div *ngIf="botao != 'Detalhes-produto'" class="margem-botao" style="display: flex; justify-content: end;">
            <button (click)="onSubmit()" class="btn btn-primary">{{botao}}</button>
        </div>
    </div>
</div>