<div class="position-relative d-flex bloco" style="max-width: 540px;">
    <div class="row g-0 ">
        <div class="sombra retangulo itens-retangulo">
            <div class="itens-retangulo">
                <div class="title">possdfsdafsadfssafsdafdsfdapoj</div>
                <ul>
                    <li>teste1</li>
                    <li>teste2</li>
                    <li>teste3</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg"
                class="imagem img-fluid" alt="...">
        </div>      
        
    </div>
</div>