<div class="card d-flex bg-primary" style="max-width: 540px;">
    <div class="row g-0 ">
        <div class="bg-danger retangulo itens-retangulo">
            <div class="itens-retangulo d-flex">
                <div>posfdapoj</div>
                <i class="bi bi-plus-square"></i>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Gull_portrait_ca_usa.jpg"
                class="imagem img-fluid" alt="...">
        </div>      
        
    </div>
</div>