.imagem{
    position:absolute;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 500px 
}
.retangulo{
    position: absolute;
    width: 270px;
    height: 80px;
    bottom: 0;
    right: 0;
}
itens-retangulo{
    
}
.card{
    height: 8rem;
    
}