.imagem{
    position:absolute;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 500px 
}
.bloco{
    height: 8rem;
}
.sombra{
    box-shadow: 2px 2px 5px 1px;
}
.retangulo{
    position: absolute;
    width: 290px;
    height: 100px;
    bottom: 0;
    right: 0;
}
.itens-retangulo{
    margin-left: 50px;

}
.caixa{
    align-self: flex-end;
}