body {
    background-image: url("../../../assets/capa.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.centro {
    height: 500px;
    width: 500px;
    background-color: white;
    margin-top: 120px;
    margin-right: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.548);
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAl {
    color: #1f394f;
    font-size: 30px;
}

.logo {
    position: absolute;
    margin: 23px 10px 10px 40px;
}

.ladoInput {
    box-shadow: 3px 1px 7px 1px rgba(0, 0, 0, 0.329);
    border-radius: 5px 0px 0px 5px;
}

.inputs {
    box-shadow: 6px 1px 7px 1px rgba(0, 0, 0, 0.329);
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    width: 280px;
    height: 50px;
}

.icons {
    font-size: 30px;
    color: #1f394f;
}

input {
    outline: none;
}

.botao {
    width: 160px;
    height: 40px;
    border-radius: 2px;
    border-color: transparent;
}

.botaoBranco {
    background-color: white;
    color: #1f394f;
    border: 1px solid #1f394f;
}

.fundoModal{
    position: fixed;
    opacity: 10px;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
}