<body style="height: 100vh; width: 100vw;">
    <div style="height: 100vh;">
        <div class="centralizar">
            <div class="centro">
                <a routerLink="/"><i  class="bi bi-arrow-left icons" style="margin-left: 20px;"></i></a>
                <img class="logo" src="../../../assets/loginho.png" style="height: 50px;">
                <div class="centralizar" style="margin-top: 5px;">
                    <div class="textAl">
                        Almoxarife System
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div class="centralizar">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <i class="bi bi-person-square icons" style="margin-left: 10px;"></i>
                            </div>
                            <input class="inputs" placeholder="Nome" type="text" [(ngModel)]="nome">
                        </div>

                    </div>

                    <div class="centralizar" style="margin-top: 10px;">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <i class="bi bi-envelope-fill icons" style="margin-left: 10px;"></i>
                            </div>
                            <input class="inputs" placeholder="Email" type="email" [(ngModel)]="email">
                        </div>
                    </div>

                    <div class="centralizar" style="margin-top: 10px;">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <i class="bi bi-person-fill icons" style="margin-left: 10px;"></i>
                            </div>
                            <input class="inputs" placeholder="Usuário" type="text" [(ngModel)]="usuario">
                        </div>
                    </div>

                    <div class="centralizar" style="margin-top: 10px;">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <div style="margin-left: 10px;">
                                    <i class="bi bi-key icons"></i>    
                                </div>
                            </div>
                            <input class="inputs" placeholder="Senha" type="password" [(ngModel)]="senha">
                        </div>
                    </div>

                    <div class="centralizar" style="margin-top: 10px;">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <div style="margin-left: 10px;">
                                    <i class="bi bi-key-fill icons"></i>    
                                </div>
                            </div>
                            <input class="inputs" placeholder="Confirmar Senha" type="password" [(ngModel)]="confirmar">
                        </div>
                    </div>


                    <div class="centralizar" style="margin-top: 25px;">
                        <button (click)="cadastrar()" class="botao" style="background-color: #1f394f; color: white;">Cadastrar</button>
                        <button (click)="limpar()" class="botaoBranco botao" style="margin-left: 15px;">Limpar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <app-confirmar *ngIf="modal" class="fundoModal" (fechaConfirmar)="modalOpen()"></app-confirmar>
</body>