<div class="fundo bg-primary opacity-75">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, veniam alias accusamus eaque nostrum modi accusantium pariatur quibusdam dolorum, cum, expedita velit? Natus expedita exercitationem, maxime earum recusandae optio fuga.

</div>
<div class="quadrado-modal container">
    <div class="titulo">
        Almoxarife System
    </div>
    <div class="inputs">
        <input type="text" class="form-control">
        <div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
        <div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
    </div>
</div>