.icons-size {
    font-size: 23px;
}

.cursor {
    cursor: pointer;
}

.margin-icons {
    margin-left: 15px;
    align-self: center;
}

.center {
    padding: 2px;
    margin-bottom: 10px;
}

.cor-azul {
    border: 1px solid transparent;
    border-radius: 5px;
}

.index {
    z-index: 1;

}

/* .cor-azul:hover {
    background-color: #0047B5;
    color: white;
} */

.adicionar {
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.DivWithScroll {
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;

}



#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, .3);
    background-color: #000000;
}

/* nav {
    animation-duration: 1s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
        margin-left: 100%;
        height: 300%;
    }

    to {
        margin-left: 0%;
        height: 100%;
    }
} */