<div class="container" style="width: 80vw;margin-left: 125px;">
    <div style="margin-bottom: 80px;">
        <div class="topo">Realizar Entrega</div>
        <div style="border: 1px solid black; width: 220px;"></div>
    </div>
    <div>
        <div style="width: 100%; display: flex;">
            <div style="width: 650px;">
                <div style="display: flex;">
                    <h5 style="margin-left: 6%;">Produtos</h5>
                    <h5 style="margin-left: 53%;">Quantidade</h5>
                </div>
                <div *ngFor="let produto of pedido.listaProdutos" class="produto" style="display: flex;">
                    <div class="centralizar" style="height: 120px; width: 25%;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfbr9FpbwTiSsahW0jYBHKQ3W1hQJHB6BGaJwgv7G29DNJGvQkrBmYA0gWagZ00CKmXAw&usqp=CAU" alt="">
                    </div>
                    <div style="margin-top: 20px; margin-left: 20px;">
                        <h5>{{produto.nome}}</h5>
                        <div>
                            {{produto.classificacao}}
                        </div>
                        <div>
                            {{produto.opcaoUso}}
                        </div>
                    </div>
                    <div class="centralizar" style="justify-content: end; width: 30%;">
                        <div class="quantidade centralizar">
                            {{produto.quantidade}}
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 100px;">
                <div>
                    <h5>Produtos alugados:</h5>
                    <div class="valor">
                        <div *ngFor="let produto of pedido.listaProdutos" class="azul centralizar">
                            {{produto.nome}}
                            <span style="margin-left: 150px; font-size: 20px;">
                            {{produto.quantidade}}
                            </span>
                        </div>
                    </div>
                    <div class="centralizar" style="margin-top: 30px;">
                        <button (click)="confirmarPedido()" class="botao" style="background-color: #0047B5; color: white;">Efetuar Entrega</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-confirmar style="position: fixed; top: 0; left:0; z-index: 2;"></app-confirmar> -->
</div>