<div class="container" style="width: 80vw;margin-left: 125px;">
    <div style="margin-bottom: 40px;">
        <b>
            <div class="topo">{{botao | uppercase}}</div>
        </b>
        <div style="border: 1px solid black; width: 220px;"></div>
        <div class="row"></div>
    </div>


    <div class="bu scroll" style="padding: 15px;">
        <div style="width: 100%; display: flex; justify-content: center;">
            <div style="width: 800px;">
                <div style="display: flex;">
                    <div style="width: 25%;">
                        <h6 style="">Produtos</h6>
                    </div>
                    <div style="width: 25%;"></div>
                    <div style="width: 25%;">
                        <h6 style="">Quantidade</h6>
                    </div>
                    <div style="width: 25%;">
                        <h6 style="">Quantidade Devolvida</h6>
                    </div>
                </div>
                <div *ngFor="let produto of pedido.listaProdutos" class="produto">
                    <div class="centralizar" style="width: 25%;">
                        <img [src]="produto.imagem" alt="">
                    </div>
                    <div style="width: 25%;">
                        <h5>{{produto.nome}}</h5>
                        <div>
                            {{produto.classificacao}}
                        </div>
                        <div>
                            {{produto.opcaoUso}}
                        </div>
                    </div>
                    <div class="centralizar" style="width: 25%;">
                        <div class="quantidade centralizar">
                            {{produto.quantidadeTotal}}
                        </div>
                    </div>
                    <div class="centralizar" style="width: 25%;">
                        <input style="border:none" class="quantidade centralizar" [(ngModel)]="quantidadeDevolvida" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content:end; margin: 20px 0">

        <button (click)="confirmarPedido()" class="btn btn-primary">Devolver Produtos</button>

    </div>
    <app-modal-devolucao *ngIf="exibicaoModal" (fecharModal)="changeModal()" style="position:fixed;top:0;left:0"></app-modal-devolucao>
</div>