<body style="height: 100vh; width: 100vw;">

    <div style="height: 100vh;">
        <div style="display: flex; justify-content: end; margin-right: 100px;">
            <img src="https://i.ibb.co/sJpqLWy/zyro-image-3.png" style="height: 120px;">
        </div>
        <div class="centralizar">
            <div class="centro">
                <i class="bi bi-arrow-left icons" style="margin-left: 20px;"></i>
                <img class="logo" src="https://i.ibb.co/4mTFW0k/Logo-removebg-preview.png" style="height: 50px;">
                <div class="centralizar" style="margin-top: 30px;">
                    <div class="textAl">
                        Almoxarife System
                    </div>
                </div>
                <div class="centralizar" style="margin-top: 40px;">
                    <h5>Código de Verificação Enviado</h5>
                </div>
                <div class="centralizar" style="margin-top: 40px; margin-right: 230px;">
                    <span>Tempo</span>
                    <div class="centralizar numTel">
                        {{fim}}s
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <div class="centralizar">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <i class="bi bi-card-text icons" style="margin-left: 10px;"></i>
                            </div>
                            <input class="inputs" placeholder="Código de Verificação" type="number">
                        </div>

                    </div>


                    <div class="centralizar" style="margin-top: 50px;">
                        <button class="botao" style="background-color: #0047B5; color: white;">Verificar</button>
                        <button class="botaoBranco botao" style="margin-left: 15px;">Reenviar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>