<div class="container" style="position: relative; padding-top: 5px;">
    <table class="table table-hover table-responsive">
        <thead class="">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Data</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lista of listaEntradas; let i = index">
                <th scope="row">{{lista.codigo}}</th>
                <td>{{lista.produto.nome}}</td>
                <td class="text-truncate" style="max-width: 30%;">{{lista.quantidade}}</td>
                <td>{{lista.data | date: 'dd/MM/yyyy'}}</td>
              </tr>
        </tbody>
      </table>
</div>