<div class="container" style="position: relative; padding-top: 5px;">
    <table class="table table-hover table-responsive">
        <thead class="">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Data</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lista of listaEntradas; let i = index">
                <th scope="row">{{lista.codigo}}</th>
                <td>{{lista.produto.nome}}</td>
                <td class="text-truncate" style="max-width: 30%;">{{lista.quantidade}}</td>
                <td>{{lista.data | date: 'dd/MM/yyyy'}}</td>
              </tr>
        </tbody>
      </table>


    <!-- <div class="indice" style="justify-content: space-between;">
        <div class="pedido" style="width: 5%;">
            <span>Código</span>
        </div>
        <div class="professor" style="width: 20%;">
            <span>Nome</span>
        </div>
        <div class="produtos"style="width: 30%;">
            <span>Quantidade</span>
        </div>
        <div class="data" style="width: 30%;">
            <span>Data</span>
        </div>
    </div>
    <div class="lista bloco" style="justify-content: space-between;" *ngFor="let lista of listaEntradas; let i = index">
        <div class="px">
        </div>
        <div class="pedido" style="width: 5%;">
            <span>{{lista.codigo}}</span>
        </div>
        <div class="produtos" style="width: 20%;">
           
            <span>{{lista.produto.nome}}</span>
        </div>
        <div class="produtos" style="width: 30%;">
           
            <span>{{lista.produto.quantidade}}</span>
        </div>
        <div class="data" style="width: 30%;">
            <span>{{lista.data | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div (click)="cs()" *ngIf="paginas == 1 || paginas == 2" class="botao" [routerLink]="[url, i]">
            <button>{{textoBotao}}</button>
        </div>
    </div> -->

</div>