.retangulo{
    background-color: #f2f2f2;
    margin-bottom: 5px;
    padding: 7px;
    box-shadow: 4px 5px 7px -5px;
    transition: 0.3s;
    cursor: pointer;
}
.retangulo:hover{
    background-color:#dbdbdb;
}
.div-adicionar-carrinho{
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #275577;
    color:white;
    border-radius: 0px 3px 3px 0px;
}
.div-group{
    border-radius: 5px;
    border: 0.5px solid black; 
    position:absolute; 
    right: 5px; 
    bottom: 5px;
}
input{
    width: 2.3rem;
    outline: none;
    border: none;
    border-radius: 10px;
}
.bi-plus-square{
    /* background-color: blue; */
    /* color: blue;
    background-color: red; */
}
.h-mais:hover{
    color:blue;
    cursor: pointer;
}
.bloco-azul{
    width: 5px; 
    height:100%; 
    background-color:#275577; 
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 0;
}