.retangulo{
    background-color: #f2f2f2;
    margin-bottom: 5px;
    padding: 7px;
    box-shadow: 4px 5px 7px -5px;
    transition: 0.3s;
    cursor: pointer;
}
.retangulo:hover{
    background-color:#dbdbdb;
}

.bi-plus-square{
    /* background-color: blue; */
    /* color: blue;
    background-color: red; */
}
.h-mais:hover{
    color:blue;
    cursor: pointer;
}
.bloco-azul{
    width: 5px; 
    height:100%; 
    background-color:#275577; 
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 0;
}