<div class="d-flex justify-content-center retangulo position-relative">
    <div [ngStyle]="{'background-color': corCodigo}" class="bloco-azul"></div>
    <div class="ms-4" style="width:10%">{{produto.codigo}}</div>
        <div style="width:30%">{{produto.nome}}</div>
        <div style="width:30%">{{produto.classificacao}}</div>
        <div style="width: 30%; padding-left: 8%;">
            {{produto.quantidade}}</div>
        <i *ngIf="rota == 'produtos'" [routerLink]="['/home/detalhes-produto/', indiceProduto]" class="bi bi-pen" style="right: 5px; top:29px;"></i>
        <i *ngIf="rota == undefined" (click)="adicionarCarrinho()" class="bi bi-plus-square" style="right: 5px; top:29px;"></i>
</div>
