<div class="d-flex bg-light container">
    <div class="body">
        <div class="row mt-5" style="display: flex; justify-content: center;">
            <div class="row">
                <div class="col-md-2 col-sm-12" style="font-size: calc(1.3rem + .6vw);">
                    <b>
                        <span>{{titulo}}</span>
                    </b>
                    <hr style="margin: 0; width: 200px; opacity: 1;">
                </div>
                <div class="topo-2 col-md-10 col-sm-12" style="margin-bottom:50px;">
                    <div class="d-flex justify-content-end gap" style="align-items: center;">
                    <div class="pesquisa d-flex">
                            <div class="lupa">
                                <i class="bi bi-search"></i>
                            </div>
                            <input class="input-pedido"  placeholder="Pesquisar Produto">
                            <div style="cursor:pointer" class="filtrar">
                                    <i class="bi bi-sliders"></i>
                            </div>
                        </div>
                        <select class="ordenar botoes" style="cursor:pointer; min-width:150px">
                            <option value="5">Ordenar</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                </div>
            </div>
        </div>
    </div>

        <div class="container bu">
            <div class="indice">
                <div class="pedido">
                    <span>Pedidos</span>
                </div>
                <div class="professor">
                    <span>Professor</span>
                </div>
                <div class="produtos">
                    <span>Produtos</span>
                </div>
                <div class="data">
                    <span>Data</span>
                </div>
            </div>
            <div class="lista bloco" *ngFor="let lista of lista; let i = index">
                <div class="px">
                </div>
                <div class="pedido">
                    <span>{{lista.codigo}}</span>
                </div>
                <div class="professor">
                    <span>{{lista.nomeProfessor}}</span>
                </div>
                <div class="central">
                    <div class="d-inline-block text-truncate">
                        <span *ngFor="let l of lista.listaProdutos">{{l.nome}}, </span>
                    </div>
                </div>

                <div class="data">
                    <span>{{lista.dataDevolucao | date: 'dd/MM/yyyy'}}</span>
                </div>
                <div class="botao" [routerLink]="[url, i]">
                    <button>{{textoBotao}}</button>
                </div>
            </div>

        </div>
    </div>