<div class="d-flex">
    <div class="container">
        <nav aria-label="breadcrumb" style="position: absolute;
        top: 81px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
            </ol>
        </nav>
        <div class="row mt-5" style="display: flex; justify-content: center;">
            <div class="row">
                <div class="col-md-2 col-sm-12" style="font-size: calc(1.3rem + .6vw);">
                    <b>
                        <span>PEDIDOS</span>
                    </b>
                    <hr style="margin: 0; width: 200px; opacity: 1;">
                </div>
                <div class="topo-2 col-md-10 col-sm-12" style="margin-bottom:30px;">
                    <div class="d-flex justify-content-end gap" style="align-items: center;">
                        <div class="pesquisa d-flex">
                            <div class="lupa">
                                <i class="bi bi-search"></i>
                            </div>
                            <input class="input-pedido" [(ngModel)]="pesquisaPedido" placeholder="Pesquisar Produto">
                            <div style="cursor:pointer" class="filtrar">
                                <i class="bi bi-sliders" (click)="mudaFiltro()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button [ngClass]="{'reverse': modo == 'entregas'}" (click)="mudarParaEntregas()" class="buttons button" style="position: relative;">Entregas</button>
            <button [ngClass]="{'reverse': modo == 'devolucoes'}" (click)="mudarParaDevolucoes()" class="buttons button" style="position: relative;">Devoluções</button>
        </div>
        <div style="position: absolute;" class="container bu">

            <app-devolucoes-table [url]="url" [modo]="modo" [textoBotao]="textoBotao" [lista]="lista"></app-devolucoes-table>
        </div>
    </div>



