<div class="fundo bg-dark opacity-75 position-relative">
</div>
<div class="quadrado-modal container">
    <i (click)="fecharReserva()" style="position: absolute; right: 7%;" class="bi bi-x-lg"></i>
    <div class="row justify-content-center text-center">
        <h4 class="col-12 w-50">
            Realizar reserva
        </h4>
        <hr>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row text-center titulo-secundario m-4">
                <h6>Produtos Selecionados</h6>
                <hr>
            </div>
            <div class="row DivWithScroll">
                <div *ngFor="let listaCarrinho of listaCarrinho; let i = index" class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-trash-fill col-1" style="align-self: center;"></i>
                    <app-produto [produto]="listaCarrinho" class="col-9"></app-produto>
                    <div class="div col-2 adicionar" style="align-self: center;">
                        <i class="bi bi-plus-lg"></i>
                        <input [(ngModel)]="listaCarrinho.qtdCart" type="text" class="form-control" style="width: 40px;">
                        <i class="bi bi-dash-lg"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row text-center titulo-secundario m-4">
                <h6>Datas de retirada e devolução</h6>
                <hr>
            </div>
            <div class="d-flex flex-column align-items-center">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date">
                      <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
            </div>
            <div *ngIf="user == 'atendente'"  class="d-flex flex-column align-items-center">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Professor</mat-label>
                    <input type="text"
                           placeholder="Escolha um professor"
                           aria-label="Professor"
                           matInput
                           [formControl]="professor"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredProfessores | async" [value]="option.nome">
                        {{option.nome}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
            <hr *ngIf="user == 'professor'" class="m-5">
            <div class="row justify-content-center">
                <button (click)="addPedido()" class="btn btn-primary w-50 mt-5">
                    Finalizar
                </button>

            </div>
        </div>
    </div>
</div>