.icons-size{
    font-size: 23px;
}
.bg-blue{
    background-color: #0047B5;
    transition: 0.3s;
}
.cursor{
    cursor: pointer;
}
.margin-icons{
    margin-left: 15px;
    align-self: center;
}
.center{
    padding: 2px;
    margin-bottom: 10px;
}
i{
    padding-left: 8px;
}
.user{
    display: flex;
    flex-direction: column;
    height:100%;
    align-items: center;
    justify-content: end;
}
.cor-azul{
    border: 1px solid transparent;
    border-radius: 5px;
}
.index{
    z-index: 1;
}
.cor-azul:hover{
    background-color: #0047B5;
    color: white;
}
