<div [@teste]="state" class="index border d-flex flex-column
 flex-shrink-0 bg-light position-relative" style="height: 91vh;padding: 6px;" 
 (mouseenter)="changeStatus()" (mouseleave)="changeStatus()">
    <div [routerLinkActiveOptions]="{exact: true}" 
    routerLinkActive="bg-blue text-light" routerLink="/home" 
    class="center cor-azul cursor d-flex text-center"
    style="margin-top: 40px;">
        <i class="bi bi-house-door icons-size"></i>
        <span *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Home
        </span>
    </div>
    <div routerLinkActive="bg-blue text-light" routerLink="/home/historico" class="index center cor-azul cursor d-flex text-center">
        <i class="bi bi-alarm icons-size"></i>
        <span *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Histórico
        </span>
    </div>
    <div *ngIf="user != 'professor'" routerLinkActive="bg-blue text-light" routerLink="/home/entregas" class="center cor-azul cursor d-flex text-center">
        <i class="bi bi-journal-text icons-size"></i>
        <span  *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Entregas
        </span>
    </div>
    <div *ngIf="user == 'professor'" routerLinkActive="bg-blue text-light" routerLink="/home/pedidos" class="center cor-azul cursor d-flex text-center">
        <i class="bi bi-journal-text icons-size"></i>
        <span  *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Seus Pedidos
        </span>
    </div>
    <div routerLinkActive="bg-blue text-light" *ngIf="(user == 'atendente' || user == 'admin')" routerLink="/home/devolucoes" class="center cor-azul cursor d-flex text-center">
        <i class="bi bi-cart icons-size"></i>
        <span  *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Devoluções
        </span>
    </div>
    <div routerLinkActive="bg-blue text-light" *ngIf="(user == 'admin' || user == 'supervisor')" routerLink="/home/produtos" class="center cor-azul cursor d-flex text-center">
        <i class="bi bi-bag icons-size"></i>
        <span  *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Produtos
        </span>
    </div>
    <div routerLinkActive="bg-blue text-light" *ngIf="user == 'admin'" routerLink="/home/contas" class="center cor-azul cursor d-flex text-center">
        <i class="bi bi-arrow-repeat icons-size"></i>
        <span  *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Alterar Status
        </span>
    </div>
    <div  routerLinkActive="bg-blue text-light" *ngIf="user == 'admin'" routerLink="/home/solicitacoes" class="center cor-azul cursor d-flex text-center">
        <i class="bi bi-bell icons-size"></i>
        <span  *ngIf="stateTxt == 'aberto'" class="margin-icons">
            Solicitações
        </span>
    </div>

    <div routerLink="/home/perfil" class="center cursor user">
        <div class="cor-azul d-flex text-center" style="width: 100%;">
            <i class="bi bi-person-circle icons-size"></i>
            <span  *ngIf="stateTxt == 'aberto'" class="margin-icons">
                Seu perfil
            </span>
        </div>
    </div>
</div>