<body style="height: 100vh; width: 100vw;">
    <div style="height: 100vh;">
        <div class="centralizar">
            <div class="centro">
                <img class="logo" src="../../../assets/loginho.png" style="height: 50px;">
                <div class="centralizar" style="margin-top: 70px;">
                    <div class="textAl">
                        Almoxarife System
                    </div>
                </div>
                <div style="margin-top: 70px;">
                    <div class="centralizar">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <i class="bi bi-person-fill icons" style="margin-left: 10px;"></i>
                            </div>
                            <input class="inputs" placeholder="Usuário" type="text" [(ngModel)]="usuario">
                        </div>

                    </div>

                    <div class="centralizar" style="margin-top: 40px;">
                        <div class="botoes centralizar">
                            <div class="ladoInput" style="height: 50px; width: 50px;">
                                <div style="margin-left: 10px;">
                                    <i class="bi bi-key-fill icons"></i>
                                </div>
                            </div>
                            <input class="inputs" placeholder="Senha" type="password" [(ngModel)]="senha">
                        </div>
                    </div>
                    <div class="centralizar" style="margin-top: 50px;">
                        <button (click)="login()" class="botao"
                            style="background-color: #1f394f; color: white;">Entrar</button>
                        <span routerLink="/verificar" style="margin-left: 30px;">Esqueceu a senha?</span>
                    </div>
                    <div class="centralizar" style="margin-top: 50px;">
                        <a routerLink="/cadastro" style="color: #1f394f;">
                            <h6>Não tem acesso? Cadastre-se</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>