<app-nav></app-nav>

<div class="d-flex bg-light">
  <app-side-bar class="position-fixed"></app-side-bar>
  
  <body>
    <div class="topo">
        <div class="pg">
            <span>Historico_______</span>
        </div>
        <div class="topo-2">
            <div class="pesquisa">
                <div class="pesquisa">
                    <i class="bi bi-search"></i>
                    <input placeholder="Pesquisar Pedido">
                </div>
            </div>
            <div class="ordenar">
                <div class="icone">
                    <select class="filtross">
                        <option>Ordenar</option>
                        <option>Mais Recentes</option>
                        <option>Mais Antigos</option>
                        <option>Maior Quantidade</option>
                        <option>Menor Quantidade</option>
                    </select>
                    <i class="bi bi-chevron-double-down"></i>
                </div>
            </div>
            <div class="filtrar">
                <div class="icone">
                    <button class="filtross">Filtrar Mais</button>
                    <i class="bi bi-sliders"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="duas-div">
            <div class="div-cima">
                <p>Código Pedido: ###</p>
            </div>
            <div class="div-baixo">
                <div class="Cima">
                    <div class="produtos">
                        <i style="font-size: 30px;" class="bi bi-box2-fill"></i>
                        <span class="bold">Resistor 1k Ohms, Resistor 10k Ohms, Resistor 10k Ohms, Resistor 10k
                            Ohms, Resistor 10k
                            Ohms...</span>
                    </div>
                </div>
                <div class="baixo">
                    <div>
                        <div class="nome">
                            <i style="font-size: 30px;" class="bi bi-person"></i>
                            <span class="bold">Carlinhos Rech</span>
                        </div>
                    </div>
                    <div class="datas">
                        <div class="dataRetirada">
                            <i style="font-size: 30px;" class="bi bi-calendar2-plus"></i>
                            <span class="bold">DD/MM/AAAA</span>
                        </div>
                        <div class="dataDevolucao">
                            <i style="font-size: 30px;" class="bi bi-calendar2-check"></i>
                            <span class="bold">DD/MM/AAAA</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer">
                <div class="status">
                    <span>Status: Finalizado</span>
                </div>
                <div class="info">
                    <span>Mais Informações...</span>
                </div>
            </div>
        </div>
</div>

  </body>
</div>
