.overlay {
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}
.quadrado{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    min-width: 320px;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    display: grid;
    width: 700px;
    height: 500px;
}

.cool{
    flex: 0 0 auto;
    width: 50%;
    display: grid;
}

.prin{
    display: grid;
    height: 5vw;
    margin: 5px;
}

.inputs{
    border: transparent;
    border-bottom: 0.5px solid black;
    height: 2vw;
}

i{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes{
    margin: 20px;
    column-gap: 10vw;
}

.centralizar{
    display: grid;
    justify-content: center;
    align-items: center;
}

.remover{

}

.historico{

}