<div class="d-flex bg-light container">
    <div class="body">
        <div class="topo">
            <div class="pg" style="font-size: calc(1.3rem + .6vw);">
                        <span>Contas</span>
                        <hr style="margin: 0; width: 200%;">    
                    </div>
            <div class="pesquisa-total">
                <div class="pesquisa">
                    <i class="bi bi-search"></i>
                    <input placeholder="Pesquisar por Conta">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="lista bloco" style="font-size: 18px; background-color: #f3f3f3;" *ngFor="let lista of lista">
                <div class="px">
                </div>
                <div class="iconePerfil">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div class="nome">
                    <div class="d-inline-block text-truncate">
                        <span>{{lista.nome}}</span>
                    </div>
                </div>
                <div class="email">
                    <div class="d-inline-block text-truncate">
                        <span>{{lista.email}}</span>
                    </div>
                </div>
                <div class="botao">
                    <button (click)="mudarPerfilState()">Mais Informações</button>
                </div>
            </div>
        </div>
    </div>
    <app-perfil-admin (estadoPerfil)="mudarPerfilState()" class="perfil-admin" *ngIf="perfilState == true"></app-perfil-admin>
</div>