<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button [ngClass]="collapsed ? 'inverte': 'naoinverte'" class="logo" (click)="toggleCollapse()">
            <i class="bi bi-list"></i>
        </button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">MENU</div>
  
            <i class="bi bi-x text-light btn2-close" @rotate *ngIf="collapsed" (click)="closeSidenav()"></i>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link mt-1" *ngIf="verificaUsuario(data)" [routerLink]="[data.routeLink]" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="data.icon" routerLinkActive="active-icon" [routerLinkActiveOptions]="{exact: true}"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed"  routerLinkActive="active-icon" [routerLinkActiveOptions]="{exact: true}">
                    {{data.label}}
                </span>
            </a>
        </li>
    </ul>
</div>