<div  class="position-relative d-flex bloco" style="max-width: 540px;">

        <img *ngIf="produto.imagem != null" [ngClass]="{imagemCarrinho: carrinho == true}" (click)="abreDetalhesProduto()" class="imagem "
        src="{{produto.imagem}}" alt="">
        <div (click)="abreDetalhesProduto()" class="sombra retangulo">
            <div class="itens-retangulo d-flex" >
                <div>
                    <div class="d-flex">
                        <b>
                            <label for="">{{produto.nome}}</label>  
                        </b>
                        
                    </div>
                    <ul class="list">
                        <li>{{produto.classificacao}}</li>
                        <li>{{produto.opcaoUso}}</li>
                        <li> <small><b>QTD: </b></small> {{produto.quantidadeTotal}}</li>
                    </ul>
                </div>
            </div>
        </div>

    
        <div [ngStyle]="{backgroundColor: corCodigo}" class="position-absolute circle d-flex text-center">
            {{produto.codigo}}
        </div>
        <i *ngIf="!carrinho" [routerLink]="['/home/editar-produto/', produto.codigo]" class="bi bi-pen 
        position-absolute" style="right: 5px; top:29px;"></i>
       
        <div *ngIf="!carrinho" style="" class="d-flex div-group">
            <input type="text" class="" [(ngModel)]="quantidadeCarrinho" style="background-color: transparent;">
            <div class="div-adicionar-carrinho">
              <span (click)="adicionarCarrinho()"><i class="bi bi-plus-lg"></i></span>
            </div>
        </div>
</div>