/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.btn-primary{
    background-color: #275577!important;
    border: transparent!important;
}
.bu{
    border-left: 10px solid #1f394f;
    box-shadow: 4px 5px 7px -5px;
    background-color: #f1f1f1;
    min-height: 66vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
