<app-nav></app-nav>
<div class="d-flex bg-light">
    <app-side-bar class="position-fixed" style="z-index: 1 ;"></app-side-bar>
    <div class="margin-fixed"></div>
    <div class="container-fluid">
        <p class="h3 col-3">Detalhes</p>
        <hr>
        <div class="quadrado container">
            <form action="">
                <div class="row">
                    <div class="col-6">
                        <div class="div-imagem">
                            <img class="img-fluid imagem"
                                src="https://cdn.domtotal.com/img/noticias/2018-05/1263018_361876.jpg" alt="">
                        </div>
                        <div class="row">
                            <div class="mt-2 padding-input">
                                <label for="">Opcao de uso</label>
                                <select class="form-control" name="" id=""></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row input-group mb-3 padding-input">
                            <label for="">Nome do produto</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="row input-group mb-3 padding-input">
                            <label for="">Quantide em estoque</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="row input-group mb-3 padding-input">
                            <label for="">Classificação</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="row input-group mb-3 padding-input">
                            <label for="">Localidade</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="padding-select">
                        <label for="exampleFormControlTextarea1" class="">Descrição</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>