<div class="container">
    <div class="row" style="height: 50%;">
        <div class="col-6">
            Produtos do dia
        </div>
        <div class="col-6">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>
    </div>
    <div class="row" style="height: 50%;">
        <div class="col-6">
            Entregas do dia
        </div>
        <div class="col-6">
            Devoluções do dia
        </div>
    </div>
</div>