.margin-fixed {
    width: 60px;
    height: 91vh;
}

.linha {
    width: 20%;
}
.paginacao-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.input-input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-left: 5px;
}

.bola-cesta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    width: 13px;
    height: 13px;
    border-radius: 12px;
    position: absolute;
    right: 0px;
    color: aliceblue;
    font-size: 10px;
}

.fundo {
    position: fixed;
    opacity: 10px;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
}

.filtrar-mais {
    background-color: #275577;
    margin-left: 50px;
    margin-right: 50px;
}

.div-input {
    border-bottom: 1px black solid;
    align-items: flex-end;
    justify-content: center;
}

.cesta {
    font-size: 25px
}

.icones {
    font-size: 20px;
    background: #275577 !important;
    color: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.default-icones {
    cursor: pointer;
    font-size: 20px;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.default-icones:hover {
    background-color: #dbdbdb;
}

.div-filtros {
    display: flex;
    align-items: center;
    justify-content: end
}

.cesta-side {
    right: 0;
}


.duas-div {
    display: grid;
}

.superior-direito {
    align-items: center;
    justify-content: center;
    column-gap: 14px;
}

.alinhar-meio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-cima {
    background-color: #275577;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 20px;
    border-bottom: 1px solid black;
}

p {
    margin: 0px;
}

.bold {
    font-weight: 700;
}


.baixo {
    display: flex;
    column-gap: 50vw;
    width: 100%;
}

.footer {
    display: flex;
    column-gap: 58vw;
    padding: 10px;
    font-weight: 500;
}

.datas {
    display: flex;
    column-gap: 10px;
}

.dataRetirada,
.dataDevolucao,
.nome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome,
.produtos {
    margin-left: 10px;
}

.topo-2 {
    display: flex;
    justify-content: end;
    align-items: center;
}


input {
    border: transparent;
    outline: none;
}

::-webkit-input-placeholder {
    color: black;
}

.icone {
    color: white;
    display: flex;
}



.filtrar {
    background-color: #275577;
    padding: 5px 10px;
    color: white;
    border-radius: 0px 3px 3px 0px;
}

.input-pedido {
    max-width: 180px;
}

.lupa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.pesquisa {
    border: 0.5px solid black;
    border-radius: 5px;

    z-index: 1;
}

.botoes {
    background-color: #275577;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
}

.ordenar {
    outline: none;
    min-width: 11vw;
    color: white;
    background-color: #275577;
    border: transparent;
    padding-right: 20px;
    outline: none
}
/* 
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0%;
    right: 0;
    padding: 0 1em;
    background: #000;
} */

.selecionar {
    background-color: #275577;
    border: 1px solid black;
    border-radius: 3px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.filtross {
    border: none;
    background-color: transparent;
    color: white;
}


.body {
    display: flex;
    justify-content: end;
    align-items: center;
}

body {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    width: 150vw;
}