<div class="d-flex">
        <div class="container">
            <div class="row mt-5" style="display: flex; justify-content: center;">
                <div class="topo">
                    <div style="font-size: calc(1.3rem + .6vw);">
                        <span (click)="checando()">Home</span>
                        <hr style="margin: 0; width: 200%;">    
                    </div>
                    <div class="topo-2">
                    <div class="pesquisa">
                        <div class="pesquisa">
                            <i class="bi bi-search"></i>
                            <input placeholder="Pesquisar Pedido">
                        </div>
                    </div>
                    <div class="filtrar">
                        <div class="icone">
                            <button class="filtross" (click)="modalOpen(false)">Filtrar Mais</button>
                            <i class="bi bi-sliders"></i>
                        </div>
                    </div>
                    <i class="bi bi-cart4 carrinho" (click)="openCart()"></i>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <app-produto class="col-xl-4 index col-md-6" [produto]="lista" *ngFor="let lista of lista">
                </app-produto>
            </div>
        </div>
    </div>
    <app-carrinho (fechaCarrinho)="closeCart($event)" (reserva)="mudarModalReserva($event)" [state]="carState"
        class="position-fixed bg-primary carrinho-side"></app-carrinho>
        <app-modal-filtro (fechaModal)="modalOpen($event)" *ngIf="modal" style="z-index: 2;" class="fundo">
        </app-modal-filtro>
        <app-reserva (fechaReserva)="mudarModalReserva($event)" style="z-index: 2;" class="fundo" *ngIf="modalReserva">
        </app-reserva>

    </div>