<app-nav></app-nav>
<div class="d-flex bg-light">
    <app-side-bar class="position-fixed"></app-side-bar>
    <div class="margin-fixed"></div>
    <div class="container">
        <div class="row mt-5">
            <p class="h3 col-xl-3">Home</p>    
            <div class="filtro d-flex offset-3 col-xl-6">
                <div class="div-input d-flex">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Pesquisar produto" class="input-input">
                </div>
                <button class="btn filtrar-mais text-light">Filtrar mais <i class="bi bi-chevron-double-down"></i></button>
                <i class="bi bi-cart4 carrinho"></i>
            </div>
        </div> 
        <hr class="linha">     
        
        <div class="container-fluid">
            <div class="row">
                <app-produto class="col-4" *ngFor="let lista of lista"></app-produto>
            </div>
        </div>

    </div>
</div>
<app-modal-filtro></app-modal-filtro>