<div class="d-flex">
    <div class="container">
        <div class="row mt-5" style="display: flex; justify-content: center;">
            <div class="d-flex" style="position:relative ;justify-content: space-between;">
                <nav aria-label="breadcrumb" style="position: absolute;top: -30px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
                <div class="" style="font-size: calc(1.3rem + .6vw);">
                    <b>
                        <span>{{titulo | uppercase}}</span>
                    </b>
                    <hr style="margin: 0; width: 200px; opacity: 1;">
                </div>


                <div class="topo-2 ">
                    <div style="cursor:pointer" class="d-flex superior-direito">
                        <div class="pesquisa d-flex">
                            <div class="lupa">
                                <i class="bi bi-search"></i>
                            </div>
                            <input class="input-pedido" [(ngModel)]="pesquisaProduto" placeholder="Pesquisar Produto">
                            <div style="cursor:pointer" class="filtrar">
                                <i class="bi bi-sliders" (click)="modalOpen(false)"></i>
                            </div>
                        </div>
                        <select class="ordenar botoes" style="cursor:pointer; min-width:150px">
                            <option value="5">Ordenar</option>
                            <option value="5">A - Z</option>
                            <option value="1">Z - A</option>
                            <option value="2">Maior Quantidade</option>
                            <option value="3">Menor Quantidade</option>
                        </select>
                        <div class="botoes" style="cursor:pointer">
                            <div class="icone">
                                <button class="filtross" [routerLink]="['/home/cadastrar-produto']">Adicionar</button>
                                <i class="bi bi-plus-lg"></i>
                            </div>
                        </div>
                        <div class="botoes">
                            <div class="icone" style="cursor:pointer">
                                <button class="filtross" routerLink="/home/entrada">Entrada</button>
                                <i class="bi bi-chevron-double-up"></i>
                            </div>
                        </div>
                        <div style="cursor:pointer" class="d-flex position-relative">
                            <i class="bi bi-cart4 carrinho" (click)="openCart()"></i>
                            <div class="bola-carrinho">{{numeroCarrinho}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-filtros">
                <div class="d-flex">
                    <div class="default-icones" [ngClass]="{icones: exibicao}">
                        <i class="bi bi-list-ul" (click)="exibicaoLista()"></i>
                    </div>
                    <div class="default-icones" [ngClass]="{icones: !exibicao}">
                        <i class="bi bi-grid-3x3-gap-fill" (click)="exibicaoCard()"></i>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid">
            <div *ngIf="exibicao == true" class="row mt-3">
                <b class="d-flex  mb-1" style="min-width: 10px; 
                height: 30px; background-color: #f2f2f2;
                box-shadow: 4px 5px 7px -5px;
                align-items: center;">
                    <div style="width: 10%">Código</div>
                    <div style="width: 30%;
                            margin-left: 22px;">Nome</div>
                    <div style="width: 30%">Classificação</div>
                    <div style="width: 30%">Quantidade</div>
                </b>
                <!-- <app-produto-lista [indiceProduto]="i" [produto]="lista" *ngFor="let lista of (lista); let i = index">
                </app-produto-lista> -->
                <app-produto-lista [listaProdutos]="lista"></app-produto-lista>
            </div>
            <div *ngIf="exibicao == false" class="row">
                <app-produto class="col-xl-4 index col-md-6" [indiceProduto]="i" [produto]="lista"
                    *ngFor="let lista of (lista ) | filtroProdutos:pesquisaProduto; let i = index">
                </app-produto>
            </div>
            <div class="paginacao-div">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <app-carrinho (fechaCarrinho)="closeCart($event)" (reserva)="mudarModalReserva($event)" [state]="carState"
        class="position-fixed bg-primary carrinho-side"></app-carrinho>
    <app-modal-filtro (fechaModal)="modalOpen($event)" (filtragem)="executarFiltroEspecializado($event)" *ngIf="modal"
        style="z-index: 2;" class="fundo">
    </app-modal-filtro>
    <app-reserva (fechaReserva)="mudarModalReserva($event)" style="z-index: 2;" class="fundo" *ngIf="modalReserva">
    </app-reserva>

</div>