<div class="d-flex">
    <div class="container">
        <nav aria-label="breadcrumb" style="position: absolute;
        top: 81px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Solicitações</li>
            </ol>
        </nav>
        <div class="row mt-5" style="display: flex; justify-content: center;">
            <div class="row" style="display: flex !important;">
                <div class="col-md-2 col-sm-12" style="font-size: calc(1.3rem + .6vw);">
                    <b>
                        <span>SOLICITAÇÕES</span>
                    </b>
                    <hr style="margin: 0; width: 200px; opacity: 1;">
                </div>
            </div>
            <div class="container bu">
                <table class="table table-hover table-responsive">
                    <thead class="">
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Aceitar</th>
                            <th scope="col">Recusar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of lista; let i = index" style="height: 8vh;">
                            <!-- <th>
                               1
                            </th> -->
                            <th scope="row">{{usuario.nome}}</th>
                            <td>{{usuario.email}}</td>
                            <td><button class="icon-2">
                                    <i class="bi bi-check-circle"></i>
                                </button></td>
                            <td><button class="icon-1">
                                    <i class="bi bi-x-circle"></i>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <mat-paginator [length]="lengthProudutos" [pageIndex]="0" [pageSizeOptions]="[18, 24, 30, 48, 90]"
                (page)="pegarListaProdutos()" aria-label="Select page" #paginator>
            </mat-paginator> -->
        </div>
    </div>
</div>

<!-- <div class="botao">
                    <div class="icons">
                        <div class="icon-1">
                            <i class="bi bi-x-circle"></i>
                        </div>
                        <div class="icon-2">
                            <i class="bi bi-check-circle"></i>
                        </div>
                    </div>
                </div> -->