.body{
    display: grid;
    justify-content: center;
    /* align-items: center; */
    width: 150vw;
}

.pg{
    font-size: calc(1.3rem + .6vw);
    margin-top: 50px;
    margin-bottom: 50px;
}

.bloco{
    background-color: #f2f2f2;
    box-shadow: 4px 5px 7px -5px;
}

.topo{
    display: flex;
    width: 80vw;
    column-gap: 20%;
}

.pesquisa{
    border-bottom: 0.5px solid black;
}

input{
    border: transparent;
    outline: none;
}

::-webkit-input-placeholder {
    color: black;
 }

 i{
    margin: 10px 10px 10px 0px;
}
.botao{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pesquisa-total{
    display: flex;
    justify-content: end;
    align-items: center;
}

.indice, .lista{
    margin-top: 20px;
    display: flex;
    column-gap: 15px;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    display: flex;
    align-items: center;
}



.nome{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 600;
}

.produtos{
    width: 40vw;
    display: flex;
    align-items: center;
    text-align: center;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
}

.divprodutos{
    width: 40vw;
    display: flex;
    align-items: center;
    text-align: center;

}

.central{
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.px{
    background-color: #0047B5;
    width: 5px;
}

/* .icons{
    display: flex;
    justify-content: end;
    column-gap: 15px;
    font-size: 30px;
} */

.lista.shadow{
    width: 100%;
}

.icon-1{
    color: red;
    font-size: 25px;
}

.icon-2{
    color: green;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome{
    margin: 10px 0px;
    padding: 10px;
    font-weight: bold;
    width: 30%;
}

.email{
    width: 70%;
}

i{
    margin: 0px;
}

tbody {
    vertical-align: 0px !important;
}

.bu{
    margin: 5vh 0vh 0vh 0vh;
}

::ng-deep .mat-paginator-container{
    background-color: #F8F9FA !important;
}

.mat-paginator{
    padding: 0px !important;
    margin-top: 10px;
}